<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>BootEx</title>
    <%- include('__bootstrap.ejs')%>
</head>
<body>
<%- include('__header.ejs')%>
<br>
    <div class="container">
       <h3 class="heading-color">Navbar With Dropdown</h3>
       <p>This Example Adds a Dropdown Menu In The Navbar.</p>

    </div>
</body>
</html>